
body{
   background-image: url('../assets/darkbackground.jpg');
   background-size:cover;
}

/* style for label */
label{
   color: #E28A42;
   font-size: 17px;
}

form{
   text-align: center;
   margin: 0px;
   padding: 0px;
}

/* styel for input box */
.input{
   width: 200px;
   height: 20px;
   margin: 10px;
   font-size: 15px;
   background-color: black;
   border: 1px solid whitesmoke;
   padding: 15px;
   padding-left: 20px;
   color: whitesmoke;
   border-radius: 15px;
   transition: all 0.5s ease;
}

.input:focus{
   outline: none;
   color: #24E7E1;
   background-color:#0c0c0c;
   border: 1px solid #24E7E1;
   box-shadow: 0 0 5px #24E7E1;
}

/* style for heading */
.heading{
   color: #24E7E1;
   text-align: center;
   margin-top: 10%;
   margin-bottom: 6%;
}

.fixed_heading{
   color: #24E7E1;
   text-align: right;
   margin:50px;
   position: fixed;
}

/* style for button */
#submitbutton{
   color: #24E7E1;
   text-align: center;
   font-size: 15px;
   background-color: black;
   width: 80px;
   margin-top: 20px;
   padding: 10px;
   border: 1px solid whitesmoke;
   border-radius: 10px;
   transition: all 0.5s ease;
}

#submitbutton:hover, #submitbutton:focus{
   background-color: #0c0c0c;
   color: #24E7E1;
   border: 1px solid #24E7E1;
   box-shadow: 0 0 10px #24E7E1;
}

#navbar {
   background-color: #ffffff;
   border-radius: 5px;
   display: flex;             
   align-items: center;       
   justify-content: space-between; 
   padding: 10px;
   position: sticky;
   top: 5px;
   font-size: 20px;
}

ul {
   list-style: none;
   display: flex;
   margin: 0;
   padding: 0;
   margin-right: 30px;
}

ul li {
   padding: 10px;
   cursor: pointer;
   align-content: center;
}

#searchcont{
   position: relative;
}

#searchicon{
   width: 20px;
   height: 20px;
   position: absolute;
   right: 25px;
   top: 25px;
}

#settingcount{
   position: relative;
   background-color: red;
   border-radius: 10px;
   padding: 3px;
   color: #ffffff;
   bottom: 35px;
   right: 18px;
   font-size: 18px;
}

.paragraph{
   margin: 40px;
   color: #ffffff;
   padding-top: 150px;
}

.navinput{
   width: 200px;
   height: 20px;
   margin: 10px;
   font-size: 15px;
   border: 1px solid black;
   padding: 15px;
   padding-right: 40px;
   color: whitesmoke;
   border-radius: 15px;
   transition: all 0.5s ease;
   font-size: 18px;
}

.navinput:focus{
   outline: none;
   color: #24E7E1;
   border: 1px solid #24E7E1;
   box-shadow: 0 0 5px #24E7E1;
}